@page "/blog"

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <NavBarHeader />

    <div class="container">
        <div class="row mt-5">
            <h1>People, Productivity, & Programming</h1>

            <!--Add a Way to Link back to Older Blogs-->
            <!--Main Blog Paige
            1. Just a general landing page - done
            2. A process to loop and display all blog posts by title
                2a. Create blog repo and 3 sample articles
            3. Display most recent blog post-->
        </div>
    </div>
</body>
</html>
