@page "/profile"

<table class="table" style="float:left" cellspacing="0" cellpadding="5">
    <tbody>
        <tr>
            <td align="left" rowspan="5">
                <img src="images/ProfilePicture.png" atl="Profile Picture" sizes="small" />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:middle">
                <font size="5">
                    <b>Joshua Howard</b>
                </font>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:middle">
                <font size="3">
                    Howard.Joshua.R@gamil.com
                </font>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:middle">
                <font size="3">
                    <a href="https://www.linkedin.com/in/howard-joshua-r/" target="_blank">LinkedIn</a>
                </font>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:middle">
                <font size="3">
                    <a href="https://github.com/Howard-Joshua-R" target="_blank">GitHub</a>
                </font>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <i>I'm looking to do great things with good people!</i>
            </td>
        </tr>
    </tbody>
</table>



