@page "/profile"

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 text-center">
                <img class="img-fluid mx-5" src="images/ProfilePicture.png" atl="Profile Picture">
                <div class="text-center">Joshua Howard</div>
            </div>
            <div class="col-lg-8 my-md-auto text-lg-left text-md-center">
                <div class="">This page is built on Blazor and hosted on AWS in an Elastic Beanstalk.</div>
                <div class="mt-lg-3">
                    <a class="btn btn-primary" href="https://www.linkedin.com/in/howard-joshua-r/" target="_blank">LinkedIn</a>
                    <a class="btn btn-primary" href="https://github.com/Howard-Joshua-R" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>


