@page "/todo"
@using BlazorApp.Data

<h1>To Do: (@todos.Count(todo => !todo.IsDone))</h1>

<li>Add a way to allow my most recent resume to be downloaded</li>
<li>Add a section of 'cards' that represent projects I worked on with details on each project</li>
<li>Create a new layout, maybe using bootstrap</li>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type ="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something to do..." @bind="newTodo" />
<button @onclick="AddTodo">Add To Do</button>

@code{
    IList<TodoItem> todos = new List<TodoItem>();
    string newTodo;

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}